{
    "root": true,
    "env": {
        "es6": true,
        "shared-node-browser": true,
        "mocha": true,
        "node": true,
        "browser": true
    },
    "parser": "@typescript-eslint/parser",
    "parserOptions": {
        "project": "./tsconfig.json",
        "ecmaVersion": 6,
        "sourceType": "module",
        "ecmaFeatures": {
            "impliedStrict": true
        }
    },
    "extends": [
        "eslint:recommended",
        "plugin:@typescript-eslint/recommended",
        "plugin:jsdoc/recommended",
        "plugin:import/errors",
        "plugin:import/warnings",
        "plugin:import/typescript"
    ],
    "plugins": [
        "@typescript-eslint",
        "jsdoc",
        "import",
        "ban",
        "own"
    ],
    "settings": {
        "jsdoc": {
            "tagNamePreference": {
                "extends": "extends"
            },
            "mode": "typescript"
        },
        "import/parsers": {
            "@typescript-eslint/parser": [
                ".ts",
                ".tsx"
            ]
        },
        "import/resolver": {
            "typescript": {
                "directory": [
                    "./tsconfig.json",
                    "./source/app/client/ts/tsconfig.json"
                ]
            }
        }
    },
    "rules": {
        "jsdoc/require-param-type": "off",
        "jsdoc/require-returns-type": "off",
        "require-jsdoc": "error",
        "@typescript-eslint/no-explicit-any": "off",
        "@typescript-eslint/no-this-alias": "off",
        "@typescript-eslint/no-inferrable-types": "off",
        "@typescript-eslint/explicit-module-boundary-types": "off",
        "@typescript-eslint/no-for-in-array": "error",
        "@typescript-eslint/member-ordering": "error",
        "@typescript-eslint/no-unused-vars": [
            "warn",
            {
                "argsIgnorePattern": "^_"
            }
        ],
        "own/no-restricted-paths": [
            "error",
            {
                "zones": [
                    {
                        "target": "./source/app/",
                        "from": "./source/app/client/ts/"
                    },
                    {
                        "target": "./source/app/",
                        "from": "./source/app/server/"
                    }
                ]
            }
        ],
        "ban/ban": [
            "error",
            {
                "name": [
                    "Reflect",
                    "getMetadata"
                ],
                "message": "use ~bdo/utils/metadata getMetadata instead"
            },
            {
                "name": [
                    "Reflect",
                    "defineMetadata"
                ],
                "message": "use ~bdo/utils/metadata defineMetadata instead"
            }
        ],
        "max-classes-per-file": [
            "error",
            3
        ],
        "linebreak-style": [
            "error",
            "unix"
        ],
        "curly": [
            "error",
            "multi-line"
        ],
        "semi": [
            "error",
            "always"
        ],
        "eqeqeq": "error",
        "no-console": "error",
        "comma-dangle": [
            "error",
            "never"
        ],
        "no-trailing-spaces": "error",
        "semi-spacing": [
            "error",
            {
                "before": false,
                "after": true
            }
        ],
        "arrow-spacing": [
            "error",
            {
                "before": true,
                "after": true
            }
        ],
        "no-var": "error",
        "no-async-promise-executor": "off",
        "no-use-before-define": [
            "error",
            {
                "functions": false,
                "classes": false,
                "variables": true
            }
        ],
        "guard-for-in": "error",
        "strict": [
            "error",
            "global"
        ],
        "camelcase": "error",
        "dot-notation": "error"
    }
}
