# third party libraries
node_modules
.vscode

# Third-Party created stuff
.nyc_output

# Development configuration
out/app/config/development/**/*.yml
out/app/client/config/development/**/*.yml
out/app/server/config/development/**/*.yml

# Hardlinks client section
source/app/client/audios/**/*
source/app/client/config/**/*
source/app/client/css/**/*
source/app/client/images/**/*
source/app/client/videos/**/*

# Hardlinks BDO section
source/app/config/**/*

# Hardlinks server section
source/app/server/config/**/*

# Variable content
var/*/*
var/*.*
!var/README.md
!var/**/README.md

# output stuff
out/**/*.js
out/**/*.*.js
out/app/*.js
out/lintRules/*.js
out/*.js
out/app/client/css/*.css
out/app/client/css/**/*.css
