{
    "source/**/*.ts": ["tslint --project ./tsconfig.json --fix", "git add"],
    "source/**/*.*.ts": ["tslint --project ./tsconfig.json --fix", "git add"],
    "*.js": ["eslint --fix", "git add"]
}
