{
    "extends": "./../../../.eslintrc",
    "env": {
        "node": true,
        "shared-node-browser": false,
        "worker": true
    },
    "rules": {
        "own/no-restricted-paths": [
            "error",
            {
                "zones": [
                    {
                        "target": "./source/app/server/",
                        "from": "./source/app/client/ts/"
                    }
                ]
            }
        ]
    }
}
