{% extends "~bdo/views/BDORoute.njk" %}

{% block view %}
<!DOCTYPE html>
<html lang="en">

<head>
    {% block headTop %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{ title }}</title>
    {% endblock %}
    {% block headMiddle %}
    <link rel="stylesheet" href="/css/themes/default.css">
    <link rel="stylesheet" id="themeSheet" href="/css/themes/dark.css">
    <link rel="stylesheet" href="/css/global.css">
    {% endblock %}
    {% block headBottom %}{% endblock %}
</head>

<body>
    {% block bodyTop %}
    <script nonce="{{ responseLocals.cspScriptNonce }}">
        window.process = JSON.parse('{{ process | json }}');
        window.cspScriptNonce = "{{ responseLocals.cspScriptNonce }}";
    </script>
    {% endblock %}
    {% block bodyMiddle %}{% endblock %}
    {% for script in scripts %}
    <script defer src="/js/{{script}}"></script>
    {% endfor %}
    {% block bodyBottom %}{% endblock %}
</body>

</html>
{% endblock %}
